<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Curso Básico MVC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Cerrar Sesión", "LogOff", "CloseSession")</li>
                </ul>
            </div>

        </div>
        <div class="body-content">

            @RenderBody()

        </div>
    </div>
    <footer>
        <!-- Footer /////////////////////////////////////////////// -->
        <div class="container">
            <div class="row">

                <div class="col-xs-12 col-md-3 text-left margen">


                </div>
                <div class="col-xs-12 col-md-3 text-left margen">

                </div>
                <div class="col-xs-12 col-md-6 margen">
                    Presidencia Municipal de Santa Cruz de Juventino Rosas, Guanajuato. <br>
                    <span class="negrita"><span class="icon-location-pin"></span> Dirección:</span> Hidalgo 106,
                    Zona Centro, Juventino Rosas, Gto. <br />

                    <span class="negrita"><span class="icon-phone"></span> Teléfono: </span> <a href="tel:+524121578040"
                                                                                                class="telefono">(412) 157 80 40</a> <br>
                    <span class="negrita"><span class="icon-box"></span> Código Postal: </span> 38240
                    <p class="footDR">© 2016 Todos los Derechos Reservados</p>
                </div>

            </div>
        </div>
        <!--fin Footer Content ///////////////////////////////////// -->
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
